<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPECTR - Admin</title>

    <link
      rel="shortcut icon"
      href="../../static/images/logo/SPECTR-logo-new.png"
      type="image/x-icon"
    />

    <!-- BOOTSTRAP CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />

    <!-- DATA TABLE CSS (Bootstrap Integration) -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/new_admin.css" />

    <script src="../../static/js/address.js"></script>
    <script src="../../static/js/company_address.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>

  <body>
    <!--Navbar-->
    <nav
      class="navbar navbar-expand-lg section-bg-black py-0 px-3 fixed-top"
      aria-label="Offcanvas navbar large"
      id="navbar"
    >
      <div
        class="container-fluid section-bg-black d-flex flex-row justify-content-between"
      >
        <div
          class="d-flex align-items-center justify-content-center text-center"
        >
          <a class="navbar-brand" href="/Zq3cT404/main" style="cursor: pointer">
            <img
              class="brand-logo"
              src="../../static/images/logo/SPECTR-logo-new-without-S.png"
              alt="SPECTR"
              height="70"
              loading="eager"
            />
          </a>
        </div>
        <!-- Logout Button -->
        <div>
          <button
            class="btn btn-danger btn-sm"
            style="margin-right: 10px"
            id="logoutBtn"
          >
            Logout
          </button>
        </div>
      </div>
    </nav>

    <div class="container-fluid py-2 content">
      <div
        class="d-flex flex-column flex-sm-row justify-content-between w-100 mt-3 mb-3"
      >
        <h2 class="fw-bolder text-white">Dashboard</h2>
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-calendar-days me-2 text-white"></i>
          <p id="currentDate" class="text-white mb-0"></p>
        </div>
      </div>

      <div class="row">
        <!--ACCOUNT MANAGEMENT-->
        <div class="col-xxl-8">
          <div class="card rounded-4" id="activitylogsBG">
            <div id="activitylogsheader" class="card-header rounded-top-4">
              <div class="d-flex align-items-center">
                <p
                  class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                >
                  <i class="bi bi-person-gear me-2"></i>
                  Account Management
                </p>
              </div>
            </div>
            <div class="container p-3 rounded-bottom-4" id="tblAccManagementBG">
              <div class="d-flex justify-content-end align-item-end mt-3">
                <button
                  type="button"
                  id="btn-addaccount"
                  class="mb-2 btn px-2"
                  data-bs-toggle="modal"
                  data-bs-target="#multiStepModal"
                >
                  <i class="bi bi-person-fill-add"></i> Add New Account
                </button>
              </div>
              <div class="table-responsive p-3 mt-3">
                <div class="data_table" style="height: 50.5vh">
                  <table
                    id="example"
                    class="table borderless"
                    style="width: 100%"
                  >
                    <thead>
                      <tr id="tr-accmanagement" class="text-center">
                        <th class="text-center">Company Email</th>
                        <th class="text-center">Company Name</th>
                        <th class="text-center">Company Branch</th>
                        <th class="text-center">Company Location</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody id="tbody_accountmanagement"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4">
          <div class="row mb-3">
            <!--ACTIVE USERS-->
            <div class="col mb-3">
              <div class="card rounded-4" id="activeuserBG">
                <div id="activeuserheader" class="card-header rounded-top-4">
                  <div class="d-flex align-items-center">
                    <p
                      class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                    >
                      <i class="bi bi-person-check-fill me-2"></i>
                      Active Users
                    </p>
                  </div>
                </div>
                <p
                  id="activeUsersCount"
                  class="py-5 fw-semibold fs-1 text-center mt-3"
                >
                  0
                </p>
              </div>
            </div>
            <!--INACTIVE USERS-->
            <!-- <div class="col">
              <div class="card rounded-4" id="inactiveuserBG">
                <div id="inactiveuserheader" class="card-header rounded-top-4">
                  <div class="d-flex align-items-center">
                    <p
                      class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                    >
                      <i class="bi bi-person-dash-fill me-2"></i>
                      Inactive Users
                    </p>
                  </div>
                </div>
                <p
                  id="inactiveUsersCount"
                  class="py-5 fw-semibold fs-1 text-center mt-3"
                >
                  0
                </p>
              </div>
            </div> -->
          </div>
          <!--User Monitoring-->
          <div class="row">
            <div class="col">
              <div class="card rounded-4" id="donutgraphBG">
                <div id="accmanagementheader" class="card-header rounded-top-4">
                  <div class="d-flex align-items-center">
                    <p
                      class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                    >
                      <i class="bi bi-people me-2"></i>
                      User Monitoring
                    </p>
                  </div>
                </div>
                <div class="py-3 px-2" id="chart3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--USERS PER MONTH / DETECTIONS PER MONTH-->
      <div class="row mt-5">
        <div class="col mb-3">
          <div class="card rounded-4" id="linegraphBG">
            <div id="usageheader" class="card-header rounded-top-4">
              <div class="d-flex align-items-center py-3">
                <p
                  class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                >
                  <i class="bi bi-graph-up me-2"></i>
                  Total of New Users Per Month
                </p>
              </div>
            </div>
            <div class="p-4" id="newUsersPerMonth"></div>
          </div>
        </div>
        <div class="col">
          <div class="card rounded-4" id="linegraphBG">
            <div id="usageheader" class="card-header rounded-top-4">
              <div class="d-flex align-items-center py-3">
                <p
                  class="fw-bolder fs-5 py-3 mb-1 d-flex align-items-center text-nowrap"
                >
                  <i class="bi bi-graph-up me-2"></i>
                  Total of Detection Per Month
                </p>
              </div>
            </div>
            <div class="p-4" id="detectionPerMonth"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="multiStepModal"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="multiStepModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fw-bold" id="multiStepModalLabel">
              User Registration
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="mainform" class="needs-validation" novalidate>
              <!-- Step 1: Personal Information -->
              <div class="step" id="step1">
                <h3 class="fw-bold">Personal Information</h3>
                <hr />
                <div class="row mb-2">
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="firstName"
                        >First name</label
                      >
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        required
                      />
                      <div id="firstnameFeedback" class="invalid-feedback">
                        *Please provide a valid first name.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="middleName"
                        >Middle name</label
                      >
                      <input
                        type="text"
                        id="middleName"
                        class="form-control"
                        required
                      />
                      <div id="middlenameFeedback" class="invalid-feedback">
                        *Please provide a valid middle name.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="lastName">Last name</label>
                      <input
                        type="text"
                        id="lastName"
                        class="form-control"
                        required
                      />
                      <div id="lastnameFeedback" class="invalid-feedback">
                        *Please provide a valid last name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label for="validationCustomContactNo" class="form-label"
                        >Contact Number</label
                      >
                      <div class="input-group has-validation">
                        <span
                          class="input-group-text bg-secondary text-black"
                          id="inputGroupPrepend"
                          >+63</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="contactNo"
                          aria-describedby="inputGroupPrepend"
                          required
                          placeholder="9XX XXX XXXX"
                        />
                        <div class="invalid-feedback" id="contactnoFeedback">
                          *Please provide a contact number.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="gender">Gender</label>
                      <select id="gender" class="form-control" required>
                        <option value="" disabled selected>
                          Select Gender
                        </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select your gender.
                      </div>
                    </div>
                  </div>
                </div>

                <!--ADDRESS-->
                <div class="row mb-4">
                  <h5 class="mt-3 mb-2 fw-bold">Address:</h5>
                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="region"
                        onchange="updateProvince()"
                        required
                      >
                        <option value="">Select Region</option>
                        <option value="Mindanao">Mindanao</option>
                        <option value="NCR">NCR</option>
                        <option value="North Luzon">North Luzon</option>
                        <option value="South Luzon">South Luzon</option>
                        <option value="Visayas">Visayas</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a region.
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="province"
                        onchange="updateCity()"
                        required
                      >
                        <option value="">Select Province</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a province.
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="city"
                        onchange="updateBarangay()"
                        required
                      >
                        <option value="">Select City</option>
                      </select>
                      <div class="invalid-feedback">*Please select a city.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <select class="form-control" id="barangay" required>
                        <option value="">Select Barangay</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a barangay.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-8 mt-2">
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input
                        type="text"
                        id="addressInfo"
                        placeholder="Address Info: Street Name, Building Name, House Number..."
                        class="form-control"
                        required
                      />
                      <div class="invalid-feedback" id="addressInfoFeedback">
                        *Please provide address info.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Step 2: Address -->
              <div class="step d-none" id="step2">
                <h3 class="fw-bold">Company Information</h3>
                <hr />
                <div class="row mb-3">
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="companyName"
                        >Company Name</label
                      >
                      <input
                        type="text"
                        id="companyName"
                        class="form-control"
                        required
                      />
                      <div class="invalid-feedback">
                        *Please provide a valid company name.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="companyBranch"
                        >Company Branch</label
                      >
                      <input
                        type="text"
                        id="companyBranch"
                        class="form-control"
                        required
                      />
                      <div class="invalid-feedback">
                        *Please provide a company branch.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="companyEmail"
                        >Company Email</label
                      >
                      <input
                        type="email"
                        id="companyEmail"
                        class="form-control"
                        placeholder="example@company.com"
                        required
                      />
                      <div id="companyEmailFeedback" class="invalid-feedback">
                        *Please provide a valid company email.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6 col-xl-4">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="companyContactno"
                        >Telephone Number</label
                      >
                      <input
                        type="text"
                        id="companyTelephoneNo"
                        class="form-control"
                        placeholder="000-123-4567"
                        required
                      />
                      <div
                        id="companyTelephoneNoFeedback"
                        class="invalid-feedback"
                      >
                        *Please provide a valid telephone number.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <h5 class="mt-3 mb-2 fw-bold">Company Address:</h5>
                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="companyRegion"
                        onchange="updateCompanyProvince()"
                        required
                      >
                        <option value="">Select Region</option>
                        <option value="Mindanao">Mindanao</option>
                        <option value="NCR">NCR</option>
                        <option value="North Luzon">North Luzon</option>
                        <option value="South Luzon">South Luzon</option>
                        <option value="Visayas">Visayas</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a region.
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="companyProvince"
                        onchange="updateCompanyCity()"
                        required
                      >
                        <option value="">Select Province</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a province.
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="companyCity"
                        onchange="updateCompanyBarangay()"
                        required
                      >
                        <option value="">Select City</option>
                      </select>
                      <div class="invalid-feedback">*Please select a city.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="companyBarangay"
                        required
                      >
                        <option value="">Select Barangay</option>
                      </select>
                      <div class="invalid-feedback">
                        *Please select a barangay.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-8 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="companyAddress"
                        class="form-control"
                        placeholder="Address Info: Street Name, Building Name, House Number..."
                        required
                      />
                      <div class="invalid-feedback" id="companyAddressFeedback">
                        *Please provide a valid company address.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Step 3: Account Details -->
              <div class="step d-none" id="step3">
                <h3 class="fw-bold">Account Details</h3>
                <hr />
                <div class="row mb-4">
                  <div class="col-sm-6 col-xl-4 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="email">Email</label>
                      <input
                        type="email"
                        id="email"
                        placeholder="myemail@gmail.com"
                        class="form-control"
                        required
                      />
                      <div class="invalid-feedback" id="emailFeedback">
                        *Please provide a valid email.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="password">Password</label>
                      <div class="input-group mb-4">
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          placeholder="Password"
                          aria-label="Password"
                          aria-describedby="password-icon"
                          required
                        />
                        <span
                          class="input-group-text"
                          id="toggle-password-icon"
                          style="cursor: pointer; display: none"
                        >
                          <i class="far fa-eye" id="togglePassword"></i>
                        </span>
                        <div class="invalid-feedback" id="passwordFeedback">
                          *Please provide a password.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-4 mt-2">
                    <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="confirmPassword"
                        >Confirm Password</label
                      >
                      <div class="input-group mb-4">
                        <input
                          type="password"
                          id="confirmPassword"
                          class="form-control"
                          placeholder="Password"
                          aria-label="Password"
                          aria-describedby="password-icon"
                          required
                        />
                        <span
                          class="input-group-text"
                          id="toggle-password-icon"
                          style="cursor: pointer"
                        >
                          <i class="far fa-eye" id="togglePassword2"></i>
                        </span>
                        <div
                          class="invalid-feedback"
                          id="confirmPasswordFeedback"
                        >
                          *Please confirm your password.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              id="prevBtn"
              onclick="changeStep(-1)"
              disabled
            >
              Previous
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="nextBtn"
              onclick="validateStep()"
            >
              Next
            </button>
            <button
              type="submit"
              form="mainform"
              class="btn btn-success d-none"
              id="submitBtn"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Custom Success Modal -->
    <div
      class="modal fade"
      id="createUserModal"
      tabindex="-1"
      aria-labelledby="createUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content border border-light rounded-2">
          <div class="modal-body pt-3 rounded-2">
            <center>
              <img
                src="../../static/images/icons/check.png"
                alt="Success"
                class="d-flex justify-content-center img-fluid"
              />
            </center>
            <p class="mt-3 fs-3 fw-bold text-center">
              Successfully Registered!
            </p>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- VIEW STAFF MODAL -->
    <div
      class="modal fade"
      id="viewAccountModal"
      tabindex="-1"
      aria-labelledby="viewAccountModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog modal-xl" style="height: 90vh; overflow: auto">
        <div class="modal-content">
          <div
            class="modal-header text-white"
            style="background-color: #000000"
          >
            <h5 class="modal-title fw-bold" id="editStaffModalLabel">
              View Account Details
            </h5>
          </div>
          <div class="modal-body">
            <form class="p-3" id="editStaffForm">
              <h3 class="mb-3 fs-5 fw-semibold">Personal Information</h3>
              <hr class="" />
              <div class="row mb-2">
                <div class="col-sm-6 col-xl-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewFirstname"
                      >First name</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewFirstname"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewMiddlename"
                      >Middle name</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewMiddlename"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewLastname"
                      >Last name</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewLastname"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-xl-4 col-md-6">
                  <div data-mdb-input-init class="form-outline">
                    <label for="validationCustomContactNo" class="form-label"
                      >Contact Number</label
                    >
                    <div class="input-group has-validation">
                      <span
                        class="input-group-text bg-secondary text-black"
                        id="inputGroupPrepend"
                        >+63</span
                      >
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        id="viewContactNo"
                        aria-describedby="inputGroupPrepend"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-6">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewGender">Gender</label>
                    <input
                      disabled
                      type="text"
                      id="viewGender"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-md-6">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewEmail">Email</label>
                    <input
                      disabled
                      type="text"
                      id="viewEmail"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <h5 class="mt-3 mb-2">Address</h5>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewRegion">Region</label>
                    <input
                      disabled
                      type="text"
                      id="viewRegion"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewProvince"
                      >Province</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewProvince"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCity">City</label>
                    <input
                      disabled
                      type="text"
                      id="viewCity"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewBarangay"
                      >Barangay</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewBarangay"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="viewAddressInfo"
                      >Other Details</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewAddressInfo"
                      placeholder="Other Details: Stree Name, Building Name, House Number..."
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <h5 class="mt-3 mb-2">Company Information</h5>
                <div class="col-xl-4 col-md-6">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyName"
                      >Company Name</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyBranch"
                      >Company Branch</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyBranch"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyEmail"
                      >Company Email</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyEmail"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewTelephoneNo"
                      >Telephone Number</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewTelephoneNo"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <h5 class="mt-3 mb-2">Company Address</h5>
                <div class="col-xl-4 col-md-6">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyRegion"
                      >Region</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyRegion"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyProvince"
                      >Province</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyProvince"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyCity">City</label>
                    <input
                      disabled
                      type="text"
                      id="viewCompanyCity"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyBarangay"
                      >Barangay</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyBarangay"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-lg-4 mb-2">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="viewCompanyAddressInfo"
                      >Address Info</label
                    >
                    <input
                      disabled
                      type="text"
                      id="viewCompanyAddressInfo"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--SAVE CHANGES-->
    <div
      class="modal fade"
      id="createUserModal"
      tabindex="-1"
      aria-labelledby="createUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content border border-light rounded-2">
          <div class="modal-body pt-3 rounded-2">
            <center>
              <img
                src="../../static/images/icons/check.png"
                alt="Success"
                class="d-flex justify-content-center img-fluid"
              />
            </center>
            <p class="mt-3 fs-3 fw-bold text-center">
              Successfully Registered!
            </p>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="../../static/js/admin_newUserPerMonth.js"
    ></script>
    <script
      type="module"
      src="../../static/js/admin_detectionPerMonth.js"
    ></script>
    <script type="module" src="../../static/js/apexchart.js"></script>
    <script type="module" src="../../static/js/admin.js"></script>
    <script src="../../static/js/registration-step.js"></script>
    <script type="module" src="../static/js/user_registration.js"></script>

    <!-- jQuery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <!-- DataTables Buttons -->
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

    <!-- PDF generation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <!-- Bootstrap Bundle (includes Bootstrap JS and Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
